In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
path = u"./授業用ファイル/"
item = pd.read_csv(path+"item.csv",encoding="shift_jis")
purchase = pd.read_csv(path+"purchase.csv",encoding="shift_jis")
user = pd.read_csv(path+"user.csv",encoding="shift_jis")

In [27]:
item

   商品ID   名前   価格   種別
0     1  りんご  120   果物
1     2  バナナ  110   果物
2     3  キウイ   80   果物
3     4   牛乳  150  乳製品
4     5    傘  500  日用品

In [28]:
user

   顧客ID  名前   年齢 性別  居住地
0     1  A子  30代  女  東京都
1     2  B子  60代  女  東京都
2     3  Ｃ太  30代  男  長野県
3     4  D美  70代  女  鳥取県
4     5  E男  50代  男  愛知県

In [29]:
purchase

   売上ID    売上日時  顧客ID  商品ID
0     1   10月8日     1     2
1     2   10月8日     1     5
2     3   10月8日     2     1
3     4   10月8日     5     1
4     5   10月9日     3     3
5     6   10月9日     3     4
6     7   10月9日     4     2
7     8  10月10日     1     1
8     9  10月11日     1     5
9    10  10月12日     4     2

In [30]:
data = pd.merge(purchase,item).merge(user,left_on="顧客ID",right_on="顧客ID")
data

   売上ID    売上日時  顧客ID  商品ID 名前_x   価格   種別 名前_y   年齢 性別  居住地
0     1   10月8日     1     2  バナナ  110   果物   A子  30代  女  東京都
1     2   10月8日     1     5    傘  500  日用品   A子  30代  女  東京都
2     9  10月11日     1     5    傘  500  日用品   A子  30代  女  東京都
3     8  10月10日     1     1  りんご  120   果物   A子  30代  女  東京都
4     7   10月9日     4     2  バナナ  110   果物   D美  70代  女  鳥取県
5    10  10月12日     4     2  バナナ  110   果物   D美  70代  女  鳥取県
6     3   10月8日     2     1  りんご  120   果物   B子  60代  女  東京都
7     4   10月8日     5     1  りんご  120   果物   E男  50代  男  愛知県
8     5   10月9日     3     3  キウイ   80   果物   Ｃ太  30代  男  長野県
9     6   10月9日     3     4   牛乳  150  乳製品   Ｃ太  30代  男  長野県

In [31]:
print("(1)")
data[data["名前_y"]=="A子"]["価格"].sum()

(1)

1230

In [45]:
print("(2)")
print(data.groupby("名前_x")["価格"].sum())
print(data.groupby("名前_x")["売上ID"].count())

(2),(3)
名前_x
りんご     360
キウイ      80
バナナ     330
傘      1000
牛乳      150
Name: 価格, dtype: int64
名前_x
りんご    3
キウイ    1
バナナ    3
傘      2
牛乳     1
Name: 売上ID, dtype: int64

名前_x
りんご    3
キウイ    1
バナナ    3
傘      2
牛乳     1
Name: 売上ID, dtype: int64

In [46]:
print("(3)")
fruit = ["りんご","キウイ","バナナ"]
print(data[data["名前_x"].isin(fruit)]["売上ID"].count())
print(data[data["名前_x"].isin(fruit)]["価格"].sum())

7
770

In [47]:
print("(4)")
data.groupby("性別")["価格"].sum()

性別
女    1570
男     350
Name: 価格, dtype: int64

In [49]:
print("(5)")
data.groupby("年齢")["売上ID"].count()

(5)

年齢
30代    6
50代    1
60代    1
70代    2
Name: 売上ID, dtype: int64